*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.button__link {
  display: inline-block;
  border-radius: 50px;
  background-color: red;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  padding: 20px 60px;
  font-size: 20px;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

/* NAVIGATION */
.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  box-shadow: 0 5px 5px -5px rgb(0 0 0 / 50%);
}

.nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}

.nav__body {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  z-index: 2;
  max-width: 300px;
}

.nav__burger {
  display: none;
}

.nav__list {
  display: flex;
  position: relative;
  z-index: 1;
}

.nav__list li {
  position: relative;
  list-style-type: none;
  margin-right: 25px;
  line-height: 80px;
  font-weight: bold;
  cursor: pointer;
}

.nav__list li:last-child {
  margin-right: 0;
}

.nav__list li div {
  background-color: #c62817;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  opacity: 0;
  transition: 0.3s;
}

.nav__list li:hover a {
  color: #be1907;
  transition: 0.3s;
}

.nav__list li:hover div {
  opacity: 1;
  transition: 0.3s;
}

.nav__link {
  color: #000;
  text-transform: uppercase;
  font-size: 15px;
}

/* NAVIGATION */



/* WRAPPER */
.wrapper {
  margin-top: 80px;
}

/* WRAPPER */



/* HEADER */
.header {
  height: calc(100vh - 80px);
  background-image: url("../banner-bg.jpg");
  background-repeat: no-repeat;
}

.header .container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__text {
  max-width: 650px;
  padding-top: 40px;
  flex-shrink: 0;
}

.header__about__compaty {
  margin-bottom: 25px;
  color: #0060cf;
  font-size: 22px;
  font-weight: 800;
  line-height: 1;
}

.header__title {
  margin-bottom: 20px;
  font-weight: 800;
  line-height: 1.4;
  font-size: 36px;
}

.header__description {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7;
}

.header__button {
  display: flex;
  align-items: center;
}

/* HEADER */


/* ADVANTAGE */
.section-advantage {
  color: black;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(235, 240, 244, 1);
  box-shadow: 0px 0px 8px 0px #d4d4d4;
}

.advantage__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantage__card {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantage__img {
  height: 80px;
  min-width: 80px;
  margin-right: 10px;
}

.advantage__card:last-child {
  margin-right: 0;
}

.advantage-body p {
  font-size: 14px;
}

/* ADVANTAGE */



/* PRODUCT */
.section-product {
  height: auto;
  /* height: calc(100vh - 80px); */
  background-image: url("../images/fone-product.jpg");
  background-size: cover;
}

.product__title {
  font-size: 48px;
  text-align: center;
  font-weight: 800;
  padding: 50px 0;
}

/* .product__body {
  display: flex;
  align-items: center;
  justify-content: center;
}
 */
.product__row {
  display: flex;
  padding-top: 50px;
  padding-bottom: 100px;
}

.product__column {
  flex: 0 1 25%;
  margin-bottom: 50px;
}

.product__item {
  width: 250px;
  margin: 0 auto;
}

.product__item img {
  padding: 50px 0;
}

.protuct__text {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.protuct_btn {
  margin-top: 50px;
}

/* PRODUCT */



/* @MEDIA SCREEN */
@media screen and (max-device-width : 1200px) {
  .header__text {
    max-width: 450px;
  }

  .header__img {
    max-width: 450px;
  }
}

@media screen and (min-device-width:993px) and (max-device-width: 1100px) {
  .nav__link {
    font-size: 13px;
  }

  .product__row {
    flex-wrap: wrap;
  }

  .product__column {
    flex-basis: 50%;
  }
}

@media screen and (max-device-width: 992px) {
  body.lock {
    overflow: hidden;
  }

  .nav__body {
    height: 60px;
  }

  .nav__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .nav__burger span {
    position: absolute;
    background-color: #000;
    left: 0px;
    width: 100%;
    height: 2px;
    top: 10px;
    transition: all 0.3s ease 0s;
  }

  .nav__burger:before,
  .nav__burger:after {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    left: 0px;
    transition: all 0.3s ease 0s;
  }

  .nav__burger:before {
    top: 2px;
  }

  .nav__burger:after {
    bottom: 0px;
  }

  .nav__burger.active span {
    transform: scale(0);
  }

  .nav__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .nav__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a2e36;
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .nav__menu.active {
    top: 0;
  }

  .nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }

  .nav__list li {
    padding: 30px 0;
    margin: 0;
    line-height: 60px;
  }

  .nav__link {
    font-size: 26px;
    color: #fff;
  }

  .wrapper {
    margin-top: 60px;
  }

  .header {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .header .container {
    height: auto;
  }

  .header__row {
    flex-direction: column-reverse;
  }

  .header__text {
    padding-top: 0;
    flex-shrink: 0;
    text-align: center;
  }

  .header__button {
    justify-content: center;
  }

  .section-advantage {
    padding: 0;
  }

  .advantage__row {
    flex-direction: column;
  }

  .advantage__card {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .product__row {
    flex-wrap: wrap;
  }

  .product__column {
    flex-basis: 50%;
  }
}

@media screen and (max-device-width: 576px) {
  .header .container {
    max-width: 350px;
  }

  .header__text {
    max-width: 400px;
  }

  .header__title {
    font-size: 32px;
  }

  .header__img {
    max-width: 350px;
    margin-bottom: 20px;
  }

  .section-advantage {
    padding: 0;
  }

  .product__column {
    flex-basis: 100%;
  }
}

/* @MEDIA SCREEN */