*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

/* NAVIGATION */
.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  box-shadow: 0 5px 5px -5px rgb(0 0 0 / 50%);
}

.nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.nav__body {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  z-index: 3;
}

.nav__burger {
  display: none;
}

.nav__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.nav__list li {
  position: relative;
  list-style-type: none;
  margin-right: 25px;
  line-height: 80px;
  font-weight: bold;
  cursor: pointer;
}

.nav__list li:last-child {
  margin-right: 0;
}

.nav__list li div {
  background-color: #c62817;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  opacity: 0;
  transition: 0.3s;
}

.nav__list li:hover a {
  color: #be1907;
  transition: 0.3s;
}

.nav__list li:hover div {
  opacity: 1;
  transition: 0.3s;
}

.nav__link {
  color: #000;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
}

/* NAVIGATION */



/* WRAPPER */
.wrapper {
  margin-top: 80px;
  height: 1200px;
}

/* WRAPPER */



/* HEADER */
.header {
  height: 100vh;
  background-image: url("../banner-bg.jpg");
  background-repeat: no-repeat;
}

.header .container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__text {
  max-width: 650px;
  padding-top: 40px;
  flex-shrink: 0;
}

.header__about__compaty {
  margin-bottom: 25px;
  color: #0060cf;
  font-size: 22px;
  font-weight: 800;
  line-height: 1;
}

.header__title {
  margin-bottom: 20px;
  font-weight: 800;
  line-height: 1.4;
  font-size: 36px;
}

.header__description {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7;
}

.header__button {
  display: flex;
  align-items: center;
}

.header__button a {
  display: inline-block;
  height: 62px;
  border-radius: 50px;
  background-color: red;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 64px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 20px;
}

/* HEADER */



/* @MEDIA SCREEN */
@media screen and (max-device-width: 575px) {

  .header .container {
    max-width: 350px;
  }

  .header__text {
    max-width: 400px;
  }

  .header__title {
    font-size: 32px;
  }

  .header__img {
    max-width: 350px;
    margin-bottom: 20px;
  }

  .header__img img {
    width: 100%
  }
}

@media screen and (max-device-width: 992px) {

  body.lock {
    overflow: hidden;
  }

  .nav__logo img {
    width: 300px;
  }

  .nav__body {
    height: 60px;
  }

  .nav__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .nav__burger span {
    position: absolute;
    background-color: #000;
    left: 0px;
    width: 100%;
    height: 2px;
    top: 10px;
    transition: all 0.3s ease 0s;
  }

  .nav__burger:before,
  .nav__burger:after {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    left: 0px;
    transition: all 0.3s ease 0s;
  }

  .nav__burger:before {
    top: 2px;
  }

  .nav__burger:after {
    bottom: 0px;
  }

  .nav__burger.active span {
    transform: scale(0);
  }

  .nav__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .nav__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a2e36;
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .nav__menu.active {
    top: 0;
  }

  .nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }

  .nav__list li {
    padding: 30px 0;
    margin: 0;
    line-height: 60px;
  }

  .nav__link {
    font-size: 26px;
    color: #fff;
  }

  .wrapper {
    margin-top: 60px;
  }

  .header {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .header .container {
    height: auto;
  }

  .header__row {
    flex-direction: column-reverse;
  }

  .header__text {
    padding-top: 0;
    flex-shrink: 0;
    text-align: center;
  }

  .header__button {
    justify-content: center;
  }
}

@media only screen and (min-device-width : 993px) and (max-device-width : 1200px) {

  .nav__logo img {
    width: 300px;
  }

  .nav__link {
    font-size: 13px;
  }

  .header__text {
    max-width: 450px;
  }

  .header__img {
    max-width: 450px;
  }

  .header__img img {
    width: 100%;
  }
}

/* @MEDIA SCREEN */